{% extends "base.html" %}


{% block content %}
<section class="section-landing-1">
    <div class="container" style="padding-top: 10px;">
        {% include "carousel.html" with carousel=carousel%}
    </div>
</section>
<section class="section-landing">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="h2-responsive heading text-center">Welcome to Chestermerelake Registry</h2>
                <p></p>
            </div>

        </div>
    </div>
</section>
<section class="section-1">
    <div class="container">
        <div class="row">
            <div class="col-md-">

            </div>
        </div>
    </div>
</section>
<section class="section-2">
    <div class="container">
        <div class="row">

        </div>
    </div>
</section>
{% endblock %}