<div class="footer wrapper">
    <div class="footer_inside inner">
        <div class="top_menu footer_dives">
            <ul>
                <li><a href="index.php">Home</a></li>
                <li><a href="about_us.php">About Us</a></li>
                <li><a href="services.php">Registries</a></li>
                <li><a href="forms.php">Form</a></li>
                <li><a href="certificates.php">Certificates</a></li>
                <li><a href="helpful-links-contacts.php">Helpful Links & Contacts</a></li>
                <li><a href="contact.php">Contact</a></li>
            </ul>
        </div>
        <div class="address footer_dives">
            <h2>Address</h2>
            <div class="add_desc">
                <ul>
                    <li class="footer_phone">403  207  5510 (P),  403  207  5570 (F)</li>
                    <li class="footer_add">400 - 100 Marina Drive Chestermere<br />Alberta T1X 0A9</li>
                    <li class="footer_web">www.chestermerelakeregistry.com</li>
                    <li class="footer_email">corporate@chlrs.com</li>
                </ul>
            </div>
            
        </div>
        <div class="time footer_dives">
            <h2>Time Hours</h2>
            <div class="add_time">
                <ul>
                    
                    <li class="tme">Mon - Fri:   9:00am -6:00pm<br />
                      Sat : 9:00 am - 2:00pm</li>
                    <li class="tme">Sun:   Closed<br />Holidays:   Closed</li>
                    <li class="note">CLOSEd StAT HOLIDAYS & Saturday that fall either on or in conjunction with a holiday (friday or monday)</li>
                </ul>
            </div>
            
        </div>
        <div class="footer_social footer_dives">
            <div class="icons">
                    <ul>
                         <li class="facebook"><a href="#">	</a></li>
                        <li class="twiter"><a href="#"></a></li>
                         <li class="pint"><a href="#"></a></li>
                    </ul>
                </div>
        </div>
    </div>
</div>
<div class="footer_stip wrapper">
    <div class="footer_stip_inside inner">
        <div class="left_copy"> © <script>document.write(new Date().getFullYear()) </script> chestermerelakeregistry.com. All Rights Reserved.</div>
        <!--<div class="site_map">
            <ul>
                <li><a href="#">Terms & Conditions</a></li>
                <li><a href="#">Site Map</a></li>
            </ul>
        </div>-->
    </div>
</div>
</div>